# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Coverage information
/.coverage
/htmlcov/
.pytest_cache/

# PyCharm
.idea/
build/
dist/

# Python
venv/

# Properties file
project.properties

# Reporting
artifacts/
